#!/bin/sh

set -e -x

echo ""
echo "START finish-installation"
echo "==============================================================="

################################################################################
## grub options
################################################################################

sed -i 's,quiet splash,,' /etc/default/grub
update-grub

################################################################################
## Packages
################################################################################

apt install --assume-yes openssh-client openssh-server {% if item.item.value.additional_packages is defined %}\
 {{ item.item.value.additional_packages | join(' ')  }}
{% endif %}

################################################################################
## Paste Scripts from files/scripts
################################################################################

{% if item.item.value.scripts is defined %}
    {% for script in item.item.value.scripts %}
        {{ lookup('file', '../../../'+script)  }}
    {% endfor %}
{% endif %}

################################################################################
## Cleanup
################################################################################

apt clean
fstrim -a


echo "==============================================================="
echo "END finish-installation"
echo ""
